<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>holidays</title>
  <link rel="icon" href="favicon.svg" type="image/svg+xml" />
  <style type="text/css">
    body {
      font: 15px "Myriad Pro", "Helvetica", Arial, sans-serif;
    }
  </style>
</head>
<body>
  <h1>holidays.ics</h1>

  <p>
    <a href="https://gitlab.com/ivan-kuchin/holidays.ics">holidays.ics</a> is made with the help of
    <a href="https://github.com/holidays/holidays">holidays</a>,
    <a href="https://github.com/icalendar/icalendar">icalendar</a> and
    <a href="https://sinatrarb.com">sinatra</a>.
  </p>

  <p>
    This service is moving to <a href="https://ivan-kuchin.gitlab.io/holidays.ics/">https://ivan-kuchin.gitlab.io/holidays.ics/</a>.
    Render.com limitation makes it problematic to have more than one app on free tier (getting «This service has been suspended.» at the end of the month) and this service can be easily converted to a static site with scheduled updates.
  </p>
</body>
</html>
